{% extends 'app/base.html' %}
{% load static %}
{% block title %}Enter Otp{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Enter otp to forgot password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                <input type="text" name="otp" class="form-control" id="otp" placeholder="enter the otp"><br>
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
                {% endfor %}
                {% endif %}
                <div class="text-center">
                    <button style="color: blue;" type="submit" value="submit" class="button w-20">Send Otp</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}