{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password</h3>
            <p>Enter your email address to get otp</p>
            <hr>
            <form action="{% url 'send_otp' %}" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                <label for="">Enter Email</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="enter your email"><br>
                {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
                {% endfor %}
                {% endif %}
                <div class="text-center">
                    <button style="color: blue;" type="submit" value="submit" class="button w-20">Send Otp</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}