{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <hr>
            <form action="{% url 'password_reset' %}" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                <label for="">Enter New Password</label>
                <input type="password" name="password" class="form-control" id="password2" placeholder="new password"><br>
                <label for="">Enter Confirm New Password</label>
                <input type="password" name="confirm_password" class="form-control" id="password2" placeholder="conform new password"><br>
                {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
                {% endfor %}
                {% endif %}
                <div class="text-center">
                    <button style="color: blue;" type="submit" value="submit" class="button w-20">Submit</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}